 Visual Studio 
**/.vs/**
**/.vscode/**
[Bb]in
[Dd]ebug*/
**/packages/**

# Generated
/logs/**
**.log
**.cpp.orig
**.h.orig

# cmake build
**/build_ninja/**
/iTLC/build
/iTLC/debug
/iTLC/release

# Intel Inspector
**/My Advisor Results - **
**/My Amplifier Results - **
**/My Inspector Results - **


#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
[Rr]elease*/
_ReSharper*/
*.class
*.vpd
*.db3
*.sdf
*.ipch
*.opensdf
*~
*.o
*.out
*.a
*.u2d
*.mod
*.ipgset
*.modmic
*.VC.db
*.db-shm
*.VC.db-wal
*.obj
