#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.class
*.vpd
*.db3
*.sdf
*.ipch
*.opensdf
*~
*.o
*.out
*.a
*.u2d
*.mod
*.ipgset
*.modmic
*.VC.db
*.db-shm
*.VC.db-wal
*.obj
